<source>
  type tail
  path /var/log/nginx/{{ app_name }}.access.log
  pos_file /var/log/nginx/{{ app_name }}.access.log.pos

  format /^(?<all>.*)$/

  tag {{ app_name }}.nginx.access
</source>

<match {{ app_name }}.nginx.access>
  type s3

  s3_bucket {{ tdagent.bucket }}
  path "logs/#{Socket.gethostname}/nginx.access/"

  time_slice_format %Y%m%d/%Y%m%d-%H

  flush_interval 15s
  buffer_path /var/log/td-agent/nginx.access
</match>
